
  <div class="nav-bar">
    <div id="logo">
      <img src="logo.png" width=40 height=40 alt="logo">
    </div>
    <div class="nav-buttons">
      <ul class="buttons-list">
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link">About Us</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active-link">Contacts</a></li>
      </ul>
    </div>
    <div id="profile-button">
      Profile
    </div>
  </div>

