* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #3c3b3b;
}

app-shorten-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

about-us-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

contacts-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
